aiohttp
pydantic                                                                                                                                                                                                                                                                  │
pydantic-settings
